:root {
    --zoom: 12;
    --pixel-size: 12px;
    --z-index-tree: 800;
    --z-index-boy: 900;
    --z-index-word: 950;
    --z-index-particle: 970;
    --z-index-overlay: 1000;
}

html,
body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    position: relative;
    /* background-color: cornflowerblue; */
    background-color: hsl(50, 69%, 61%);
    transition: background-color 4s ease;
}

.sprite {
    position: absolute;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    transform: scale(var(--zoom));
    transform-origin: left bottom;
}

.boy {
    width: 24px;
    height: 24px;
    z-index: var(--z-index-boy);
    bottom: calc(var(--pixel-size) * -1);
    left: calc(var(--pixel-size) * 3);
    animation: rise-up cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s forwards;
}

@keyframes rise-up {
    from {
        bottom: -250px;
    }
}

.boy:after {
    content: '';
    display: block;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1px 23px #000000, 1px 22px #000000, 1px 21px #000000, 3px 21px #000000, 3px 22px #000000, 3px 23px #000000, 4px 20px #000000, 4px 19px #000000, 4px 18px #000000, 2px 20px #000000, 2px 19px #000000, 2px 18px #000000, 1px 17px #000000, 0px 16px #000000, 1px 15px #000000, 1px 14px #000000, 1px 13px #000000, 1px 12px #000000, 1px 11px #000000, 5px 17px #000000, 6px 16px #000000, 7px 16px #000000, 8px 16px #000000, 9px 17px #000000, 10px 18px #000000, 11px 19px #000000, 11px 20px #000000, 11px 21px #000000, 11px 22px #000000, 11px 23px #000000, 13px 23px #000000, 13px 22px #000000, 13px 21px #000000, 13px 20px #000000, 13px 19px #000000, 12px 18px #000000, 12px 17px #000000, 13px 16px #000000, 14px 15px #000000, 14px 14px #000000, 14px 13px #000000, 14px 12px #000000, 2px 17px #d40d0d, 3px 17px #d40d0d, 4px 17px #d40d0d, 4px 16px #d40d0d, 5px 16px #d40d0d, 4px 15px #d40d0d, 5px 15px #d40d0d, 6px 15px #d40d0d, 7px 15px #d40d0d, 8px 15px #d40d0d, 4px 14px #d40d0d, 3px 14px #d40d0d, 7px 14px #d40d0d, 8px 14px #d40d0d, 9px 14px #d40d0d, 6px 14px #d40d0d, 5px 14px #d40d0d, 11px 14px #d40d0d, 12px 14px #d40d0d, 12px 15px #d40d0d, 11px 15px #d40d0d, 10px 15px #d40d0d, 9px 16px #d40d0d, 10px 16px #d40d0d, 11px 16px #d40d0d, 12px 16px #d40d0d, 10px 17px #d40d0d, 11px 17px #d40d0d, 1px 10px #000000, 1px 9px #000000, 1px 8px #000000, 1px 7px #000000, 2px 6px #000000, 3px 5px #000000, 4px 4px #000000, 5px 3px #000000, 6px 2px #000000, 7px 2px #000000, 8px 1px #000000, 9px 0px #000000, 10px 0px #000000, 9px 1px #000000, 10px 1px #000000, 11px 2px #000000, 11px 3px #000000, 12px 4px #000000, 12px 5px #000000, 13px 6px #000000, 13px 7px #000000, 13px 8px #000000, 14px 9px #000000, 14px 10px #000000, 14px 11px #000000, 3px 13px #d40d0d, 11px 4px #d9871c, 10px 5px #d9871c, 8px 3px #f0c57b, 8px 4px #f0c57b, 10px 3px #f0c57b, 9px 3px #f0c57b, 2px 9px #f0c57b, 2px 10px #f0c57b, 2px 11px #f0c57b, 2px 12px #f0c57b, 2px 13px #f0c57b, 2px 14px #f0c57b, 2px 15px #f0c57b, 2px 16px #f0c57b, 3px 16px #f0c57b, 3px 15px #f0c57b, 1px 16px #f0c57b, 11px 18px #f0c57b, 12px 19px #f0c57b, 12px 20px #f0c57b, 12px 21px #f0c57b, 12px 22px #f0c57b, 12px 23px #f0c57b, 3px 20px #f0c57b, 3px 19px #f0c57b, 3px 18px #f0c57b, 2px 21px #f0c57b, 2px 22px #f0c57b, 2px 23px #f0c57b, 9px 2px #ffffff, 10px 2px #ffffff, 2px 8px #d9871c, 2px 7px #d9871c, 6px 3px #d9871c, 6px 4px #d9871c, 6px 5px #d9871c, 6px 6px #d9871c, 6px 7px #d9871c, 6px 8px #d9871c, 6px 9px #d9871c, 6px 10px #d9871c, 7px 10px #d9871c, 7px 9px #d9871c, 8px 9px #d9871c, 9px 9px #d9871c, 9px 8px #d9871c, 8px 8px #d9871c, 8px 7px #d9871c, 8px 6px #d9871c, 7px 6px #d9871c, 7px 7px #d9871c, 7px 8px #d9871c, 5px 4px #d9871c, 5px 5px #d9871c, 5px 6px #d9871c, 5px 7px #d9871c, 5px 8px #d9871c, 4px 6px #d9871c, 4px 5px #d9871c, 4px 8px #d9871c, 4px 9px #d9871c, 5px 9px #d9871c, 5px 10px #d9871c, 5px 11px #d9871c, 4px 11px #d9871c, 4px 10px #d9871c, 3px 9px #d9871c, 3px 7px #d9871c, 3px 6px #d9871c, 3px 10px #d9871c, 3px 11px #d9871c, 4px 12px #d9871c, 5px 13px #d9871c, 6px 13px #d9871c, 7px 13px #d9871c, 8px 13px #d9871c, 9px 13px #d9871c, 10px 13px #d9871c, 11px 13px #d9871c, 11px 11px #d9871c, 11px 10px #d9871c, 12px 7px #d9871c, 11px 6px #d9871c, 11px 5px #d9871c, 12px 6px #d9871c, 9px 6px #d9871c, 10px 6px #d9871c, 10px 7px #d9871c, 9px 7px #d9871c, 10px 8px #d9871c, 11px 9px #d9871c, 10px 10px #d9871c, 10px 9px #d9871c, 10px 11px #d9871c, 11px 12px #d9871c, 10px 12px #d9871c, 9px 11px #d9871c, 9px 10px #d9871c, 8px 10px #d9871c, 8px 11px #d9871c, 9px 12px #d9871c, 8px 12px #d9871c, 7px 12px #d9871c, 6px 12px #d9871c, 5px 12px #d9871c, 6px 11px #d9871c, 7px 11px #d9871c, 13px 9px #b8975e, 13px 10px #b8975e, 13px 11px #b8975e, 13px 12px #b8975e, 13px 13px #b8975e, 13px 14px #b8975e, 13px 15px #b8975e, 8px 2px #b8975e, 10px 14px #d40d0d, 11px 8px #d9871c, 11px 7px #d9871c, 12px 8px #d9871c, 12px 9px #d9871c, 12px 10px #d9871c, 12px 11px #d9871c, 12px 12px #d9871c, 12px 13px #d9871c, 9px 4px #f0c57b, 10px 4px #f0c57b, 7px 3px #ba5838, 7px 4px #ba5838, 7px 5px #ba5838, 8px 5px #ba5838, 9px 5px #ba5838, 4px 7px #ba5838, 3px 8px #ba5838, 3px 12px #ba5838, 4px 13px #ba5838, 9px 15px #b31444;
}

.c2 {
    left: auto;
    right: calc(var(--pixel-size) * 2);
    transform: scale(calc(var(--zoom) * -1), var(--zoom));
}

.tree {
    width: 12px;
    height: 12px;
    bottom: 0;
    z-index: var(--z-index-tree);
    /* transform: scale(calc(var(--zoom) * 0.05)); */
}

.tree:after {
    content: '';
    display: block;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 5px 1px #518b41, 5px 2px #518b41, 4px 2px #518b41, 3px 2px #518b41, 4px 3px #518b41, 3px 4px #518b41, 3px 5px #518b41, 3px 6px #518b41, 2px 7px #518b41, 2px 8px #518b41, 6px 3px #518b41, 6px 4px #518b41, 5px 5px #518b41, 4px 5px #518b41, 4px 6px #518b41, 5px 3px #518b41, 6px 5px #518b41, 3px 7px #518b41, 4px 9px #518b41, 4px 8px #518b41, 5px 8px #518b41, 4px 7px #518b41, 6px 7px #518b41, 5px 6px #518b41, 7px 6px #518b41, 8px 8px #518b41, 5px 9px #9c6927, 5px 10px #9c6927, 5px 11px #9c6927, 7px 2px #76a348, 2px 5px #76a348, 4px 1px #76a348, 4px 4px #76a348, 7px 3px #268241, 7px 5px #268241, 5px 4px #268241, 6px 6px #268241, 7px 8px #268241, 9px 8px #268241, 5px 7px #268241, 5px 0px #268241, 6px 9px #268241, 6px 1px #227852, 7px 7px #227852, 6px 8px #227852, 6px 2px #1c6344, 8px 4px #1c6344, 8px 7px #1c6344, 8px 6px #1c6344, 7px 9px #1c6344, 7px 4px #227852, 3px 8px #76a348, 1px 8px #76a348, 6px 10px #75601a, 6px 11px #75601a;
}
.cactus:after {
	box-shadow:
	5px 10px #dbc465,5px 9px #dbc465,5px 7px #dbc465,5px 6px #dbc465,5px 5px #dbc465,5px 3px #dbc465,4px 7px #dbc465,3px 6px #dbc465,2px 5px #dbc465,2px 3px #dbc465,2px 4px #dbc465,5px 2px #dbc465,8px 2px #afb346,8px 3px #afb346,8px 4px #afb346,7px 5px #afb346,8px 8px #afb346,7px 9px #afb346,6px 7px #afb346,6px 10px #afb346,6px 1px #afb346,5px 11px #dbc465,5px 8px #dbc465,5px 4px #dbc465,6px 5px #afb346,6px 11px #afb346,6px 9px #afb346,6px 4px #afb346,6px 2px #afb346,6px 3px #dbc465,6px 8px #dbc465,6px 6px #dbc465;
}

.heart {
    width: 9px;
    height: 9px;
}

.heart:after {
    content: '';
    display: block;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1px 1px #942222, 0px 2px #942222, 0px 3px #942222, 0px 4px #942222, 1px 5px #942222, 2px 6px #942222, 3px 7px #942222, 4px 8px #942222, 2px 1px #942222, 1px 2px #942222, 4px 3px #e03434, 3px 3px #e03434, 3px 2px #e03434, 2px 2px #e03434, 1px 3px #e03434, 1px 4px #e03434, 2px 4px #e03434, 3px 4px #e03434, 3px 5px #e03434, 2px 5px #e03434, 3px 6px #e03434, 4px 7px #e03434, 5px 7px #e03434, 6px 6px #e03434, 2px 3px #e03434, 5px 6px #e03434, 4px 6px #e03434, 4px 5px #e03434, 4px 4px #e03434, 7px 5px #e03434, 8px 4px #e03434, 8px 3px #e03434, 5px 3px #e03434, 7px 4px #e03434, 6px 4px #e03434, 6px 5px #e03434, 5px 5px #e03434, 5px 4px #e03434, 5px 2px #e03434, 6px 1px #e03434, 8px 2px #e03434, 7px 1px #e03434, 7px 2px #e08484, 6px 3px #e08484, 7px 3px #e08484, 6px 2px #e08484;
}

.bird {
    width: 5px;
    height: 5px;
    bottom: calc(var(--pixel-size) * 30);
    left: 100px
}

.bird:after {
    content: '';
    display: block;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 2px 3px #ffffff, 1px 3px #ffffff, 0px 3px #ffffff, 1px 2px #ffffff, 3px 2px #ffffff;
    animation: bird-fly 0.5s steps(1) infinite alternate;
}

@keyframes bird-fly {
    50% {
        box-shadow: 2px 3px #ffffff, 1px 3px white, 0px 3px #ffffff, 1px 2px transparent, 3px 2px #ffffff;
    }
}

.cloud {
    width: 10px;
    height: 10px;
}

.cloud:after {
    content: '';
    display: block;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 2px 3px #ffffff, 3px 2px #ffffff, 3px 3px #ffffff, 2px 4px #ffffff, 1px 4px #ffffff, 3px 4px #ffffff, 4px 2px #ffffff, 5px 3px #ffffff, 4px 3px #ffffff, 4px 4px #ffffff, 5px 4px #ffffff, 2px 5px #ffffff, 3px 5px #ffffff, 4px 5px #ffffff, 5px 5px #ffffff, 6px 5px #ffffff, 8px 5px #ffffff, 7px 5px #ffffff, 6px 4px #ffffff, 0px 5px #ffffff, 1px 5px #ffffff, 9px 5px #ffffff, 7px 4px #ffffff;
}

.particle {
    width: var(--pixel-size);
    height: var(--pixel-size);
    background-color: #fff;
    position: absolute;
    z-index: var(--z-index-particle);
}

.overlay {
    background: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAKklEQVQoU2NkwA/+M1Ki4D9IMy4TwJK4FMAlsSlAkURXgCEJU4BVAuYGAP3dCAHUa45cAAAAAElFTkSuQmCC') repeat;
    background-size: var(--pixel-size);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.15;
    background-position-y: 0px;
    z-index: var(--z-index-overlay);
    pointer-events: none;
}

.word {
    display: flex;
    z-index: var(--z-index-word);
}

.controller {
    position: absolute;
}

.controller1 {
    left: calc(var(--pixel-size) * 10);
    bottom: calc(var(--pixel-size) * 25);
}

.controller2 {
    right: calc(var(--pixel-size) * 15);
    bottom: calc(var(--pixel-size) * 25);
}

.p1-life {
    left: calc(var(--pixel-size) * 1);
    bottom: calc(var(--pixel-size) * 30);
}